.archive-btn {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: calc(8vw + 60px);
}
  
.archive-btn:hover {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #333333;
}