.delete-btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: calc(8vw + 60px);
}
  
.delete-btn:hover {
    background-color: #ffffff;
    color: #ff0000;
    border: 1px solid #ff0000;
}