body {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: calc(5vh + 15px);
  font-weight: bolder;
  font-size: 3rem;
  color: #23cdd5;
  background-color: white;
}
