.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.week-list {
    display: flex;
    justify-content: space-evenly;
}

.day-of-week {
    font-size: 1.2rem;
    font-weight: bold;
}
ul {
    margin: 0px;
    padding: 0px;
}
.time {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 5px 0px; 
}